[submodule "servers/ldbbc-lists"]
	path = servers/ldbbc-lists
	url = https://github.com/kaefer3000/ldbbc.git
	branch = lists
[submodule "wild-demo"]
	path = wild-demo
	url = https://git.scc.kit.edu/co1683/wild-demo.git
